/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

/* Navbar Styles */
.navbar-brand img {
    width: 150px;
}

.nav-tabs {
    background-color: #001429;
    border-bottom: 2px solid #dee2e6;
}

.nav-tabs .nav-link {
    color: #ffffff;
    padding: 14px 20px;
    border: 1px solid transparent;
}

.nav-tabs .nav-link.active {
    color: #343a40;
    background-color: #ffffff;
    border-color: #dee2e6 #dee2e6 #ffffff;
    font-weight: bold;
}

.custom-navbar-brand {
    color: white; /* White color */
    font-weight: bold; /* Bold text */
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
}

.custom-navbar-subtitle {
    color: rgb(76, 191, 219); /* White color */
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
}

.highlight-dst {
    color: #20bea4; 
}

/* Form Styles */
.form-label, .form-check-label {
    font-weight: bold;
}

.form-control {
    border-radius: 0.25rem;
}

textarea.form-control {
    resize: vertical;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

/* Footer Styles */
footer {
    background-color: #343a40;
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #adb5bd;
}
